/* Hero Start */
.hero {
  background-image: url("../images/hero-image.png");
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 24px);
  padding: 10px 12px;
  background-color: #fff3e3;
  border-radius: 8px;
}

.hero-content .subtitle {
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  color: #333;
}

.hero-content .hero-heading {
  font-weight: 700;
  font-size: 36px;
  color: var(--primary-color);
}

.hero-content .description {
  font-weight: 500;
  font-size: 16px;
  color: #333;
}
/* Hero End */
/* Range Start */
.range {
  margin-top: 285px;
}

.range .section-title {
  text-align: center;
}

.range .section-subtitle {
  font-size: 14px;
  text-align: center;
  color: #666666;
}

.range .img-boxes {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin-top: 24px;
}

.range .img-boxes .box img {
  width: 100%;
}

.range .img-boxes .box h3 {
  /* margin-top: 6px; */
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  color: #333;
}
