:root {
  --primary-color: #b88e2f;
  --bg-color: #faf3ea;
  --font-primary: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #3a3a3a;
  text-align: center;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1140px) {
  .container {
    max-width: 1280px;
  }
}

/* Navmenu Start */
nav {
  background-color: #fff;
}

.nav-menu {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  column-gap: 5px;
}

.logo img {
  width: 60px;
}

.logo span {
  /* display: inline-block; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

.menu {
  position: relative;
}

.menu i {
  font-size: 30px;
  padding: 15px;
}

.menu .menu-item {
  position: absolute;
  top: 50px;
  right: 0;
  width: calc(100vw - 24px);
  padding: 8px 10px;
  background-color: var(--bg-color);
  display: none;
  z-index: 999;
}

.menu:hover .menu-item {
  display: block;
}

.menu .menu-item li {
  margin: 8px 0;
}

.menu .menu-item li:last-child {
  display: flex;
  justify-content: space-between;
}

.menu .menu-item li i {
  font-size: 24px;
  cursor: pointer;
}

.menu .menu-item li a {
  color: #000;
}

/* Navmenu End */

/* Footer Start */
.footer-area {
  border-top: 1px solid #d4d4d4;
  margin-top: 24px;
  padding-top: 14px;
}

.footer {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}

.furniro .logo {
  font-weight: 700;
  font-size: 24px;
  color: #000;
}

.furniro .address {
  font-size: 16px;
  color: #9f9f9f;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.left-menu h3,
.right-menu h3,
.newsletter h3 {
  font-weight: 500;
  font-size: 16px;
  color: #9f9f9f;
  margin-bottom: 8px;
}

.footer-menu ul li {
  margin: 8px 0;
}

.footer-menu ul li a {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.newsletter form input {
  outline: 0;
  border: 0;
  padding: 5px 1px;
  border-bottom: 1px solid #000;
}
.newsletter form input::placeholder {
  font-size: 14px;
  color: #9f9f9f;
}

.newsletter form button {
  padding-bottom: 5px;
  border: 0;
  border-bottom: 1px solid #000;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: #000;
  margin-left: 8px;
  cursor: pointer;
}

.newsletter form button:hover {
  color: #333;
}

.footer .copyright {
  font-size: 14px;
  color: #000;
  text-align: center;
  border-top: 1px solid #d4d4d4;
  padding: 12px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  .footer .furniro {
    width: 30%;
  }
  .footer .footer-menu {
    width: 40%;
    justify-content: space-evenly;
  }
  .footer .newsletter {
    width: 20%;
  }
  .newsletter form button {
    margin-left: 0;
  }
  .footer .copyright {
    width: 100%;
  }
}
/* Footer End */
