:root {
  --primary-color: #b88e2f;
  --bg-color: #faf3ea;
  --font-primary: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  color: #3a3a3a;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 12px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 90%;
  }
}

/* Navmenu Start */
nav {
  background-color: #fff;
}

.nav-menu {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  column-gap: 5px;
}

.logo img {
  width: 60px;
}

.logo span {
  /* display: inline-block; */
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000;
}

.menu {
  position: relative;
}

.menu i {
  font-size: 30px;
  padding: 15px;
}

.menu .menu-item {
  position: absolute;
  top: 50px;
  right: 0;
  width: calc(100vw - 24px);
  padding: 8px 10px;
  background-color: var(--bg-color);
  display: none;
  z-index: 999;
}

.menu:hover .menu-item {
  display: block;
}

.menu .menu-item li {
  margin: 8px 0;
}

.menu .menu-item li:last-child {
  display: flex;
  justify-content: space-between;
}

.menu .menu-item li i {
  font-size: 24px;
  cursor: pointer;
}

.menu .menu-item li a {
  color: #000;
}

/* Navmenu End */
